.svgCanvas {
  max-width: 100%;
  height: auto;
  outline: 1px solid #000;
  outline-offset: -1px;
}

.svgDownloadButton {
  padding: 10px 16px;
  border: none;
  background-color: #2688ff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.svgDownloadButton:hover {
  background-color: #4096ff;
}

.svgShowGuideButtonContainer {
  margin: 0 16px;
  font-size: 15px;

}

.svgShowGuideButton {
  cursor: pointer;
  width: 18px;
  height: 18px;
  vertical-align: sub;
}